/*font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;*/
* {
  box-sizing: border-box;
}

body {
  background-color: #242b33;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.header {
  height: 90vh;
  background-image: url("../images/header-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.menu {
  padding-top: 50px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  position: relative;
}

.menu::before {
  content: "";
  position: absolute;
  background-image: url("../images/logo.png");
  width: 134px;
  height: 66px;
  left: 0;
  top: 30px;
}

.menu__list {
  display: flex;
  justify-content: flex-end;
}

.menu__list li:not(:last-child) {
  padding-right: 50px;
}

.header__inner {
  padding-top: 225px;
  width: 582px;
  margin: 0 auto;
}

.header__inner-title {
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
  color: #d4c17f;
  padding-bottom: 100px;
  text-align: center;
}

.mouse {
  width: 40px;
  height: 40px;
  margin: 0 auto;
}

.header__contacts {
  padding-top: 200px;
  display: flex;
  justify-content: space-evenly;
  font-size: 18px;
  line-height: 21px;
}

.header__contatcs-map {
  position: relative;
}

.header__contatcs-map::before {
  content: "";
  background-image: url("../images/map.svg");
  position: absolute;
  left: -36px;
  width: 21px;
  height: 21px;
}

.header__contatcs-phone {
  position: relative;
  margin-left: 136px;
}

.header__contatcs-phone::before {
  content: "";
  background-image: url("../images/phone.svg");
  position: absolute;
  left: -36px;
  width: 21px;
  height: 21px;
}

.benefits__inner {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size: 19px;
  line-height: 27px;
  padding-top: 120px;
  width: 794px;
  margin: 0 auto;
  position: relative;
}

.benefits__inner::after {
  content: ;
}

.benefits__item img {
  width: 80px;
  height: 80px;
  margin-bottom: 53px;
}

.benefits__item-text {
  max-width: 193px;
}

.benefits__item:not(:first-child) {
  max-width: 138px;
}
